@{
    ViewData["Title"] = "Eventos";
}

<div class="NavegadorSuperior">
    <div class="DivLi">
        <ul>
            <li><a href="Index.cshtml">Página Inicial</a></li>
            <li><a id="Selecionado" href="Eventos.cshtml">Eventos</a></li>
            <li><a href="Mentorias.cshtml">Mentorias</a></li>
            <li><a href="GestaoTempo.cshtml">Gestão de tempo</a></li>
        </ul>
    </div>
</div>
<div class="Fundo">
    <!--Carrossel eventos -->
    <h2><b>Eventos</b></h2>
    <h4>Empreendedorismo</h4>

    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="Eventos_Carrossel">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Evento</b></p>
                <p>12/03/20</p>
                <button id="Eventos" class="Botao">Inscreva-se</button>
            </div>
        </div>
        <div class="Eventos_Carrossel">
            <div class="carousel-cell">
                <div class="imagem">
                    <img class="w3-image" src="Evento.jpg">
                </div>
                <p><b>Teste de Evento</b></p>
                <p>12/03/20</p>
                <button id="Eventos" class="Botao">Inscreva-se</button>
            </div>
        </div>
        <div class="Eventos_Carrossel">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Evento</b></p>
                <p>12/03/20</p>
                <button id="Eventos" class="Botao">Inscreva-se</button>
            </div>
        </div>
    </div>
    <br>
    <a href=""><p>Outros temas</p></a>
</div>
<br><br>
<hr>

<div class="Fundo" id="FundoPalestras">
    <!--Carrossel Mentorias-->
    <h2><b>Palestras</b></h2><br>
    <h4>Empreendedorismo</h4>

    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="Eventos_Carrossel" id="Palestras">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Palestras</b></p>
                <p>12/03/20</p>
                <button id="BotaoPalestras" class="Botao">Inscreva-se</button>
            </div>
        </div>
        <div class="Eventos_Carrossel" id="Palestras">
            <div class="carousel-cell">
                <div class="imagem">
                    <img class="w3-image" src="Evento.jpg">
                </div>
                <p><b>Teste de Mentorias</b></p>
                <p>12/03/20</p>
                <button id="BotaoPalestras" class="Botao">Inscreva-se</button>
            </div>
        </div>

        <div class="Eventos_Carrossel" id="Palestras">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Mentorias</b></p>
                <p>12/03/20</p>
                <button id="BotaoPalestras" class="Botao">Inscreva-se</button>
            </div>
        </div>

        <div class="Eventos_Carrossel" id="Palestras">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Palestras</b></p>
                <p>12/03/20</p>
                <button id="BotaoPalestras" class="Botao">Inscreva-se</button>
            </div>
        </div>
    </div>
    <br>
    <a href=""><p>Outros temas</p></a>
</div>
<br><br>
<hr>


<div class="Fundo" id="FundoMentorias">
    <!--Carrossel Mentorias-->
    <h2><b>Mentorias</b></h2><br>
    <h4>Empreendedorismo</h4>

    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="Eventos_Carrossel" id="Mentorias">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Palestras</b></p>
                <p>12/03/20</p>
                <button id="BotaoMentorias" class="Botao">Inscreva-se</button>
            </div>
        </div>
        <div class="Eventos_Carrossel" id="Mentorias">
            <div class="carousel-cell">
                <div class="imagem">
                    <img class="w3-image" src="Evento.jpg">
                </div>
                <p><b>Teste de Mentorias</b></p>
                <p>12/03/20</p>
                <button id="BotaoMentorias" class="Botao">Inscreva-se</button>
            </div>
        </div>

        <div class="Eventos_Carrossel" id="Mentorias">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Mentorias</b></p>
                <p>12/03/20</p>
                <button id="BotaoMentorias" class="Botao">Inscreva-se</button>
            </div>
        </div>

        <div class="Eventos_Carrossel" id="Mentorias">
            <div class="carousel-cell">
                <img class="w3-image" src="Evento.jpg">
                <p><b>Teste de Palestras</b></p>
                <p>12/03/20</p>
                <button id="BotaoMentorias" class="Botao">Inscreva-se</button>
            </div>
        </div>
    </div>
    <br>
    <a href=""><p>Outros temas</p></a>
</div>
<br><br>
<hr>

<img src="Onda_Roxa.png" id="Onda">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>