@{
    ViewData["Title"] = "Gestão de Tempo";
}

<div class="NavegadorSuperior">
    <div class="DivLi">
        <ul>
            <li><a href="Página_Inicial.html">Página Inicial</a></li>
            <li><a href="Eventos.html">Eventos</a></li>
            <li><a href="Mentorias.html">Mentorias</a></li>
            <li><a id="Selecionado" href="Gestão_Tempo.html">Gestão de tempo</a></li>
        </ul>
    </div>
</div>
<div class="FundoRoxo_MaisInformacoes">
    <div class="Fundo_Gestão_Tempo">
        <h1>Orgalize seu tempo.</h1>
        <p>Utilize sua agenda para fazer anotações<br>Você terá todos os formulários salvos no seu email!</p>
        <button id="Receber_Mentoria">Mais informações</button>
        <div class="VetorMeninaLâmpada">
            <img src="../imagens/Vetor_GestãodeTempo.png">
        </div>
    </div>
</div>
<div class="Resumo_Gestão">
    <img src="../imagens/calendario.png">
    <div class="Resumo">
        <h3>No mês anterior...</h3>
        <p>
            Foi bem corrido, tanto na empresa quanto
            na minha vida pessoal. Graças ao site consegui gerenciar
            melhor o meu tempo e arrumar algumas bagunças
            pessoais.
        </p>
    </div>
</div>
<div class="FundoRoxo_Graficos" id="Fundo_Graficos">
    <p id="TituloGraficos">Quanto tempo você passou...</p>
    <div class="Graficos" id="PrimeiroGrafico">
        <h2>Família</h2>
        <p>Você passou 8 horas com a sua família</p>
    </div>
    <div class="Graficos" id="SegundoGrafico">
        <h2>Negócios</h2>
        <p>Você passou 15 horas fazendo negócios</p>
    </div>
    <div class="Graficos" id="TerceiroGrafico">
        <h2>Mentorias</h2>
        <p>Você passou 5 horas em mentorias</p>
    </div>
</div>

<img src="../imagens/Onda_Roxa.png" id="OndaLaranja">