@{
    ViewData["Title"] = "Mais Informações";
}

<div class="Forumlário">
    <h2>Insira seus dados</h2>
    <p>Vamos te conhecer um pouquinho melhor!</p>
    <form action="" method="">
        <br><br><br>
        <div class="Perguntas">
            <label>Em que area você empreende?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Tem interesses em coisas novas? Se sim, o que?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Pergunta 1</label><br>
            <input type="text" name="Pergunta1"><br><br><br>
            <label>Em que area você empreende?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Tem interesses em coisas novas? Se sim, o que?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Pergunta 1</label><br>
            <input type="text" name="Pergunta1"><br><br><br>
            <label>Em que area você empreende?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Tem interesses em coisas novas? Se sim, o que?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Pergunta 1</label><br>
            <input type="text" name="Pergunta1"><br><br><br>
            <label>Em que area você empreende?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Tem interesses em coisas novas? Se sim, o que?</label><br>
            <input type="text" name="Pergunta1"><br><br><br>

            <label>Pergunta 1</label><br>
            <input type="text" name="Pergunta1">
        </div>
        <input type="button" value="Enviar">
    </form>
</div>