@{
    ViewData["Title"] = "Minhas Anotações";
}

<div class="NavegadorSuperior">
    <div class="DivLi">
        <ul>
            <li><a href="Página_Inicial.html">Página Inicial</a></li>
            <li><a href="Eventos.html">Eventos</a></li>
            <li><a id="Selecionado" href="Mentorias.html">Mentorias</a></li>
            <li><a href="Gestão_Tempo.html">Gestão de tempo</a></li>
        </ul>
    </div>
</div>
<div class="NavegadorSuperior2">
    <div class="DivLi2">
        <ul>
            <li><b><a href="Mentorias.html">Progresso</a></b></li>
            <li><b><a id="Selecionado" href="">Minhas anotações</a></b></li>
            <li><b><a href="Voluntaria.html">Torne-se voluntária</a></b></li>
        </ul>
    </div>
</div>
<div class="Progresso_Mentorias">
    <h2>Mentorias</h2>
    <p>Minhas mentorias</p>

    <div class="Mentorias" id="Mentoria_Selecionada">
        <p id="Tema_Mentoria">Autoestima</p>
        <p id="Nome_Mentora">Carol</p>
    </div>
    <div class="Mentorias">
        <p id="Tema_Mentoria">Informática</p>
        <p id="Nome_Mentora">Amanda</p>
    </div>
    <div class="Mentorias">
        <p id="Tema_Mentoria">Empreendedorismo</p>
        <p id="Nome_Mentora">Laís</p>
    </div>
</div>
<div class="Anotações_Mentora">
    <div class="Boby_Anotações_Mentora">
        <div class="Titulo_Mentoria">
            <p>Mentoria com Carol | Autoestima</p>
            <p id="data_mentoria">04/02/2021</p>
        </div>
        <div class="Anotações">
            <p>
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
            </p>
        </div>
        <div class="Titulo_Mentoria">
            <p>Mentoria com Carol | Autoestima</p>
            <p id="data_mentoria">04/02/2021</p>
        </div>
        <div class="Anotações">
            <p>
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
            </p>
        </div>
        <div class="Titulo_Mentoria">
            <p>Mentoria com Carol | Autoestima</p>
            <p id="data_mentoria">04/02/2021</p>
        </div>
        <div class="Anotações">
            <p>
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
            </p>
        </div>
        <div class="Titulo_Mentoria">
            <p>Mentoria com Carol | Autoestima</p>
            <p id="data_mentoria">04/02/2021</p>
        </div>
        <div class="Anotações">
            <p>
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
                Aqui ficaria escrito todas as anotações que a mentora fez.
                Para assim ter uma visão tanto nossa quanto da mentora.
            </p>
        </div>
    </div>
</div>
<button id="Anotacao">Adicionar Anotação</button>