@{
    ViewData["Title"] = "Voluntária";
}

<div class="NavegadorSuperior">
    <div class="DivLi">
        <ul>
            <li><a href="Index.cshtml">Página Inicial</a></li>
            <li><a href="Eventos.cshtml">Eventos</a></li>
            <li><a id="Selecionado">Mentorias</a></li>
            <li><a href="Gestão_Tempo.cshtml">Gestão de tempo</a></li>
        </ul>
    </div>
</div>
<div class="NavegadorSuperior2">
    <div class="DivLi2">
        <ul>
            <li><b><a href="Mentorias.cshtml">Progresso</a></b></li>
            <li><b><a href="MinhasAnotacoes.cshtml">Minhas anotações</a></b></li>
            <li><b><a id="Selecionado">Torne-se voluntária</a></b></li>
        </ul>
    </div>
</div>
<div class="Mentoria_Colaborativa">
    <h2>Mentoria Colaborativa</h2>
    <b>-</b>
    <p>
        As mentorias colaborativas são acompanhamentos individuais,
        interativos e online. Propondo a capacitação através da troca
        de experiência e contato com outras empreendedoras.
        Um apoio às mulheres que buscam desenvolver seus negócios e empresas.
    </p>
    <b>-</b>
    <p>
        Ao participar das mentorias individuais você demonstra
        interesse em receber auxílio no desenvolvimento do seu
        empreendimento. Se comprometendo a expor suas dúvidas e
        dificuldade à men  ora, que se coloca a disposição para acompanhá-la
        e utilizar suas experiências pessoais para orientá-la.
    </p>
    <button><a href="Eventos.cshtml">Receber Mentoria</a></button>
</div>

<div class="Torne-se_Mentora">
    <h2>Torne-se Mentora</h2>
    <b>-</b>
    <p>
        Ao ser tornar uma mentora Elã, você afirmar também apoiar e
        acreditar no empreendedorismo feminino. Contribuindo
        diretamente no desenvolvimento de uma mulher empreendedora,
        ao partilhar suas experiências e conhecimentos.
    </p>
    <button id="Receber_Mentoria"><a href="FormularioSerMentora.cshtml">Torne-se Mentora</a></button>
</div>

<div class="Mentoria_Colaborativa">
    <h2>Sugerir Evento</h2>
    <b>-</b>
    <p>
        A agenda do Elã é construída junto à você. Tem alguma
        proposta de evento e quer compartilhar seus conhecimentos?
        Nos envie e vamos fazer acontecer! Mas lembre-se:
        Envie sua proposta com, no mínimo, vinte dias de antecedência.
        Caso perca o prazo, envie-nos e faremos o possível.
        Apenas lembre-se que as chances de ter aprovado cairão bastante!
    </p>
    <b>-</b>
    <p>
        Se o seu evento for aprovado planeje-se em relação ao tempo
        e a divulgação.
        Os eventos serão selecionados por uma equipe de curadoria
        conforme temas que se adequem ao Elã do momento.
    </p>
    <button id="Sugerir_Evento"><a href="SugerirEvento.cshtml">Sugerir Evento</a></button>
</div>